In [16]:
#Python loops
import math
import collections
from itertools import combinations

import numpy as np
import pandas as pd
import matplotlib.pyplot as pp

%matplotlib inline

In [17]:
for i in range(0, 11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [18]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [22]:
#loop over multiple counts
combinations = []
for i10 in range(0, 10, 2):
    # for i20 in range(10, 20, 2):
    #     for i30 in range(20, 30, 2):
                    if i10 :
                        combinations.append([i10])

In [23]:
combinations

[[2], [4], [6], [8]]

In [24]:
len(combinations)

4

In [25]:
# lists,tuples and slicing
#this is a list
nephews = ["Huey", "Dewey", "Louie"]
# len(nephews)
# nephews[-1], nephews[-2]
nephews.append('April Duck')
nephews.sort()
nephews.remove('Louie')
print(nephews)

['April Duck', 'Dewey', 'Huey']

In [8]:
# Dictionaries
capitals = {'United States': 'Washington, DC', 'France': 'Paris', 'Italy': 'Rome', 'Germany': 'Berlin', 'United Kingdom': 'London'}

capitals

{'United States': 'Washington, DC',
 'France': 'Paris',
 'Italy': 'Rome',
 'Germany': 'Berlin',
 'United Kingdom': 'London'}

In [28]:
# capitals.keys()
#capitals.values()
capitals.items()

dict_items([('United States', 'Washington, DC'), ('France', 'Paris'), ('Italy', 'Rome'), ('Germany', 'Berlin'), ('United Kingdom', 'London')])

In [10]:
# comprehensions
squares = []
for i in range(1, 11):
    squares.append(i**2)
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
# list of the squares from 1^2 to 10^2, including only those divisible by 4
squares_by_four = [i**2 for i in range(1, 11) if i**2 % 4 == 0]
squares_by_four

[4, 16, 36, 64, 100]

In [30]:
counting = []

for i in range(1, 11):
    for j in range(1, i+1):
        counting.append(j)
        
print(counting)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
# nested comprehension
counting = [j for i in range(1, 11) for j in range(1, i+1)]
print(counting)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
# Squaring numbers in a range and creating a list
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [15]:
# Creating a dictionary with number-square pairs
squares_dict = {x: x**2 for x in range(5)}
squares_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}